{
	"presets": [
		"env"
	],
	"plugins": [
	  [
		"babel-plugin-transform-react-jsx",
		{
		  "pragma": "inimore"
		}
	  ],
	  [
		  "babel-plugin-jsx-pragmatic",
		  {
			  "module": "/lib/react.js",
			  "import": "inimore"
		  }
	  ]
	]
}